In [ ]:
print("Hello world!")

In [ ]:
True

# TIPOS DE DADOS

### STRING

In [ ]:
print('esse é um texto do tipo string de aspas simples')
print("este é um texto do tipo string de aspas duplas")
print('''esse é um texto do tipo string de aspas triplas simples''')
print("""esse é um texto do tipo string de aspas triplas duplas""")

### CASOS ESPECIAIS DAS STRINGS

ESCAPE CHARACTER

In [ ]:
"\"dont't look at me\"" # invisible(invisível) characters

In [1]:
print("\"dont't look at me\"")

"dont't look at me"

In [ ]:
print("Olá mundo,\nmeu nome é Thallith")
print("Olá mundo, meu nome é Thallith")
print("Olá mundo,\tmeu nome é Thallith")

## DESAFIO 1: em duas linhas imprima boas vindas ao usuário.

In [ ]:
# solução 1

dados = input("digite seu nome e sua idade:").split()
print(f"olá {dados[0]}.\nSua idade é {dados[1]}.")

# solução 2

dados = input("digite seu nome e sua idade:").split()
print("olá {}.\nSua idade é {}.".format(dados[0], dados[1]))

nome, idade = input("digite seu nome e sua idade:").split()
print(f"Olá {nome}.\nSua idade é {idade}.")

In [12]:
# solução 2
frutas = ["toranja", "bergamota", "figo"]

### SPLIT

In [ ]:
"Nome,idade,cpf,email".split(",")

### MANIPULANDO STRINGS/TEXTO

In [3]:
estados = """
COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES
"""
print(estados)

COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES

In [8]:
estados.split()

['COD,NOME,SIGLA',
 '35,São',
 'Paulo,',
 'SP',
 '41,Paraná,',
 'PR',
 '42,Santa',
 'Catarina,',
 'SC',
 '43,Rio',
 'Grande',
 'do',
 'Sul,',
 'RS',
 '50,Mato',
 'Grosso',
 'do',
 'Sul,',
 'MS',
 '11,Rondônia,',
 'RO',
 '12,Acre,',
 'AC',
 '13,Amazonas,',
 'AM',
 '14,Roraima,',
 'RR',
 '15,Pará,',
 'PA',
 '16,Amapá,',
 'AP',
 '17,Tocantins,',
 'TO',
 '21,Maranhão,',
 'MA',
 '24,Rio',
 'Grande',
 'do',
 'Norte,',
 'RN',
 '25,Paraíba,',
 'PB',
 '26,Pernambuco,',
 'PE',
 '27,Alagoas,',
 'AL',
 '28,Sergipe,',
 'SE',
 '29,Bahia,',
 'BA',
 '31,Minas',
 'Gerais,',
 'MG',
 '33,Rio',
 'de',
 'Janeiro,',
 'RJ',
 '51,Mato',
 'Grosso,',
 'MT',
 '52,Goiás,',
 'GO',
 '53,Distrito',
 'Federal,',
 'DF',
 '22,Piauí,',
 'PI',
 '23,Ceará,',
 'CE',
 '32,Espírito',
 'Santo,',
 'ES']

In [13]:
estados.split("\n")

['',
 'COD,NOME,SIGLA',
 '35,São Paulo, SP',
 '41,Paraná, PR',
 '42,Santa Catarina, SC',
 '43,Rio Grande do Sul, RS',
 '50,Mato Grosso do Sul, MS',
 '11,Rondônia, RO',
 '12,Acre, AC',
 '13,Amazonas, AM',
 '14,Roraima, RR',
 '15,Pará, PA',
 '16,Amapá, AP',
 '17,Tocantins, TO',
 '21,Maranhão, MA',
 '24,Rio Grande do Norte, RN',
 '25,Paraíba, PB',
 '26,Pernambuco, PE',
 '27,Alagoas, AL',
 '28,Sergipe, SE',
 '29,Bahia, BA',
 '31,Minas Gerais, MG',
 '33,Rio de Janeiro, RJ',
 '51,Mato Grosso, MT',
 '52,Goiás, GO',
 '53,Distrito Federal, DF',
 '22,Piauí, PI',
 '23,Ceará, CE',
 '32,Espírito Santo, ES',
 '']

In [95]:
alunos = [    "pablo",
    "nicolas a.",
    "raquel",

    "patrick",
    "lucas",
    "rafael",
    "rodolpho",
    "natali",
    "victor",
    "thiago",
    "roberval",
    "vinicius",
    "marcos",
    "rodrigo",
    "renan",
    "nicolas f.",
    "thalith",
    "watuse",
    "victoria"
]

In [99]:
del alunos [2]
alunos
#alunos.pop (1)

['pablo',
 'nicolas a.',
 'rafael',
 'rodolpho',
 'victor',
 'thiago',
 'roberval',
 'vinicius',
 'marcos',
 'rodrigo',
 'renan',
 'nicolas f.',
 'thalith',
 'watuse',
 'victoria']

In [119]:
import random

alunos.pop(alunos.index(random.choice(alunos)))

IndexError: list index out of range

# requisitos para ser um dev de respeito

In [166]:
* Python: lógica de programação, portifólio, projetos e softwares criados(que resolvam problemas úteis)
* Banco de dados: CSV, SQL: Sqlite3, Postgres, MySQL
* Bibliotecas: Web (Flask, FastAPI, "DJANGO eu não recomendo), DS (pandas, numpy, tensor flow, spark)
* Processos/programação em nuvem: GCP, AWS, Heroku. (https://www.youtube.com/watch?v=TLRW_xTnQwY&t=1091s)

SyntaxError: invalid syntax (Temp/ipykernel_18864/3252969065.py, line 1)

### OUTROS TIPOS DE STRINGS/TEXTO

In [167]:
r"raw string" # texto seco, cru, literal
b"encoded text" # texto binarizado, encodado
"thallith".encode("ascii")

b'thallith'

### LISTAS - Mutáveis

In [137]:
frutas = ["tomate", "maçã", "morango", "banana", "pêra", "pêssego", "bergamota"]
frutas[0]

'tomate'

### DESAFIO 2

In [168]:
nome, sobrenome = input("por favor digite seu nome e sobrenome: ").split()
print(f"As iniciais do seu nome são {nome[0]}{sobrenome[0]}.")
print(nome[0] + sobenome[0])
print(nome[0],sobrenome[0], sep=".")

por favor digite seu nome e sobrenome: Thallith Souza
As iniciais do seu nome são TS.

NameError: name 'sobenome' is not defined

# FUNÇÕES

### CRIANDO FUNÇÕES PRÓPRIAS

* função dummy

In [177]:
# criação de função

def minha_funcao():
    ... # Ellipse # 1 # ...# pass

# chamada de função
minha_funcao()

In [194]:
# parâmetro padrão
def func2(parametro1="", parametro2=""):
    return parametro1 + parametro2
    
valor = func2("Olá COISAS")
print(valor)

# parâmetro obrigatório

def func3(parametro1, parametro2):
    return parametro1 + parametro2
    
valor = func3("5", "COISAS")
print(valor)

Olá COISAS
5COISAS